@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400,500,700,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.nft-gradient{
  background: linear-gradient(101.12deg, #064663 27.35%, #4d194d 99.99%);
}

.white.bg{
  background:rgba(255,255,255,0.2)
}

.nav-h{
  height:calc(100vh - 66px);
}