version: "3"

services:
    mongodb:
        image: mongo:latest
        container_name: socialnetworkdb
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: ali
            MONGO_INITDB_ROOT_PASSWORD: ali
            MONGO_INITDB_DATABASE: cryptobox
        ports:
            - 27017:27017
        volumes:
            - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro